%p#notice= notice


= link_to 'Category Index', categories_path
%h1 Listing products

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Creation Date
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= product.created_at
        %td= link_to 'Details', product
        %td= link_to 'Destroy ' + product.title, product, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger'

%br

= link_to 'Create Product', new_product_path
